#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
    clear: left;
}

#green {
    background-color: green;
}

.tile {
    height: 100px;
    width: 100px;
    opacity:.5;
    margin: 1%;
    float: left;
}

.lit {
    background-color: white;
}

#start {
    font-size: 2em;
}

#level {
    font-size: 1.5em;
}

#buttonDisplay {
    margin-left: 30%;
    margin-top: 15%;
}

#infoDisplay {
    position: relative;
    left:5%;
    bottom:5%;
}
