#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

.tile {
    width: 100px;
    height: 100px;
    opacity:.5;
}

.lit {
    background-color: white;
}

#start {
    font-size: 2em;
}

#level {
    font-size: 1.5em;
}
