#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#orange {
    background-color: orange;
}

.tile {
    height: 100px;
    width: 100px;
    opacity:.5;
    margin: 0;
    padding: 0;
}

.lit {
    background-color: white;
}

#start {
    font-size: 2em;
}

#level {
    font-size: 1.5em;
}
